[submodule "evaluators/AgentBench"]
	path = evaluators/AgentBench
	url = https://github.com/THUDM/AgentBench.git
[submodule "evaluators/AGIEval"]
	path = evaluators/AGIEval
	url = https://github.com/ruixiangcui/AGIEval.git
