[submodule "agentbench/AgentBench"]
	path = evaluators/agentbench/AgentBench
	url = https://github.com/THUDM/AgentBench.git
[submodule "agieval/AGIEval"]
	path = evaluators/agieval/AGIEval
	url = https://github.com/ruixiangcui/AGIEval.git
